In [0]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [74]:
from google.colab import files
uploaded = files.upload()

Saving results.csv to results (1).csv

In [75]:
data = pd.read_csv("results.csv")
data.head()

         date home_team away_team  ...     city   country neutral
0  1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1  1873-03-08   England  Scotland  ...   London   England   False
2  1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3  1875-03-06   England  Scotland  ...   London   England   False
4  1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [76]:
winner = [] # 빈리스트를 설정하고 값을 채운후 data라는 dataframe에 새로운 칼럼으로 추가할 예정
for i in range(len(data['date'])):
    if data['home_score'][i] > data['away_score'][i]:
        winner.append(data['home_team'][i])
    elif data['home_score'][i] < data['away_score'][i]:
        winner.append(data['away_team'][i])
    else:
        winner.append("Tie")
        
data['winning_team'] = winner

data.head()

         date home_team away_team  ...   country  neutral winning_team
0  1872-11-30  Scotland   England  ...  Scotland    False          Tie
1  1873-03-08   England  Scotland  ...   England    False      England
2  1874-03-07  Scotland   England  ...  Scotland    False     Scotland
3  1875-03-06   England  Scotland  ...   England    False          Tie
4  1876-03-04  Scotland   England  ...  Scotland    False     Scotland

[5 rows x 10 columns]

In [77]:
data = data.drop(['tournament', 'city'], axis=1)
data.head()

         date home_team away_team  ...   country  neutral winning_team
0  1872-11-30  Scotland   England  ...  Scotland    False          Tie
1  1873-03-08   England  Scotland  ...   England    False      England
2  1874-03-07  Scotland   England  ...  Scotland    False     Scotland
3  1875-03-06   England  Scotland  ...   England    False          Tie
4  1876-03-04  Scotland   England  ...  Scotland    False     Scotland

[5 rows x 8 columns]

In [78]:
data['date'] = pd.to_datetime(data['date'])
data['date'] = data['date'].dt.strftime('%Y')
data.head()

   date home_team away_team  ...   country  neutral winning_team
0  1872  Scotland   England  ...  Scotland    False          Tie
1  1873   England  Scotland  ...   England    False      England
2  1874  Scotland   England  ...  Scotland    False     Scotland
3  1875   England  Scotland  ...   England    False          Tie
4  1876  Scotland   England  ...  Scotland    False     Scotland

[5 rows x 8 columns]

In [0]:
data = data.astype({'date' : int})

In [80]:
data = data[(data['home_team'] == 'England') | (data['away_team'] == 'England')]
data.head()

   date home_team away_team  ...   country  neutral winning_team
0  1872  Scotland   England  ...  Scotland    False          Tie
1  1873   England  Scotland  ...   England    False      England
2  1874  Scotland   England  ...  Scotland    False     Scotland
3  1875   England  Scotland  ...   England    False          Tie
4  1876  Scotland   England  ...  Scotland    False     Scotland

[5 rows x 8 columns]

In [81]:
data.tail()

       date       home_team  ... neutral    winning_team
41114  2019         England  ...   False         England
41222  2019  Czech Republic  ...   False  Czech Republic
41283  2019        Bulgaria  ...   False         England
41379  2019         England  ...   False         England
41462  2019          Kosovo  ...   False         England

[5 rows x 8 columns]

In [0]:
idx_eng = data[data['home_team'] != 'England'].index
df = data.drop(idx_eng)

In [83]:
idx_scot = df[df['away_team'] != 'Scotland'].index
result = df.drop(idx_scot)
result.tail()

       date home_team away_team  ...  country  neutral winning_team
14930  1988   England  Scotland  ...  England    False      England
19667  1996   England  Scotland  ...  England    False      England
22380  1999   England  Scotland  ...  England    False     Scotland
35346  2013   England  Scotland  ...  England    False      England
38435  2016   England  Scotland  ...  England    False      England

[5 rows x 8 columns]

In [84]:
result.head()

    date home_team away_team  ...  country  neutral winning_team
1   1873   England  Scotland  ...  England    False      England
3   1875   England  Scotland  ...  England    False          Tie
6   1877   England  Scotland  ...  England    False     Scotland
11  1879   England  Scotland  ...  England    False      England
17  1881   England  Scotland  ...  England    False     Scotland

[5 rows x 8 columns]

In [85]:
len(result)

58

In [0]:
result = result.drop(['date', 'home_score','away_score','country','neutral'], axis=1)

In [87]:
result.head()

   home_team away_team winning_team
1    England  Scotland      England
3    England  Scotland          Tie
6    England  Scotland     Scotland
11   England  Scotland      England
17   England  Scotland     Scotland

In [88]:
idx_tie = result[result['winning_team'] == 'Tie'].index
result = result.drop(idx_tie)
result.head()

   home_team away_team winning_team
1    England  Scotland      England
6    England  Scotland     Scotland
11   England  Scotland      England
17   England  Scotland     Scotland
26   England  Scotland     Scotland

In [89]:
len(result)

46

In [90]:
df_matches = result
df_matches.loc[df_matches.winning_team == df_matches.home_team, 'winning_team'] = 1
df_matches.loc[df_matches.winning_team == df_matches.away_team, 'winning_team'] = 0

df_matches.head()

   home_team away_team winning_team
1    England  Scotland            1
6    England  Scotland            0
11   England  Scotland            1
17   England  Scotland            0
26   England  Scotland            0

In [91]:
df_matches_tf = df_matches
df_matches_tf.loc[df_matches_tf.home_team == 'England', 'home_team'] = 9
df_matches_tf.loc[df_matches_tf.away_team == 'Scotland', 'away_team'] = 6
df_matches_tf.head()

    home_team  away_team  winning_team
1           9          6             1
6           9          6             0
11          9          6             1
17          9          6             0
26          9          6             0

In [92]:
matches = df_matches_tf.drop(['winning_team'], axis=1)
matches.head()

    home_team  away_team
1           9          6
6           9          6
11          9          6
17          9          6
26          9          6

In [93]:
matches = matches.values.tolist()
print(matches)

[[9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6], [9, 6]]

In [94]:
winners = df_matches_tf.drop(['home_team','away_team'], axis=1)
winners.head()

    winning_team
1              1
6              0
11             1
17             0
26             0

In [95]:
winner_lists = winners['winning_team'].tolist()
lists = []
for winner_list in winner_lists:
  line = []
  line.append(winner_list)
  lists.append(line)
winning_team = lists
print(winning_team)

[[1], [0], [1], [0], [0], [0], [0], [1], [1], [1], [0], [1], [0], [1], [1], [1], [1], [0], [0], [0], [1], [1], [1], [0], [0], [0], [1], [1], [1], [1], [0], [0], [1], [1], [1], [1], [0], [1], [0], [1], [1], [1], [1], [0], [1], [1]]

In [113]:
import tensorflow as tf
%tensorflow_version 1.x

x_data = matches
y_data = winning_team

X = tf.placeholder(tf.float32, shape=[46, 2])
Y = tf.placeholder(tf.float32, shape=[46, 1])

W = tf.Variable(tf.random_normal([2, 1]), name='weight')
b = tf.Variable(tf.random_normal([1]), name='bias')

hypothesis = tf.sigmoid(tf.matmul(X, W) + b)

cost = -tf.reduce_mean(Y * tf.log(hypothesis) + (1 - Y) * tf.log(1 - hypothesis))
train = tf.train.GradientDescentOptimizer(learning_rate = 0.001).minimize(cost)

predicted = tf.cast(hypothesis > 0.5, dtype=tf.float32)
accuracy = tf.reduce_mean(tf.cast(tf.equal(predicted, Y), dtype=tf.float32))

with tf.Session() as sess:
  sess.run(tf.global_variables_initializer())

  for step in range(20001):
    cost_val, _ = sess.run([cost, train], feed_dict={X : x_data,Y : y_data})
    if step % 1000 == 0:
      print(step, cost_val)
  
  h, c, a = sess.run([hypothesis, predicted, accuracy],
                     feed_dict={X : x_data, Y : y_data})
  print("\nHypothesis :", h, "\nCorrect (Y) :",c , "\nAccuracy :", a)

0 2.124243
1000 0.669328
2000 0.669328
3000 0.669328
4000 0.669328
5000 0.669328
6000 0.669328
7000 0.669328
8000 0.669328
9000 0.669328
10000 0.669328
11000 0.669328
12000 0.669328
13000 0.669328
14000 0.669328
15000 0.669328
16000 0.669328
17000 0.669328
18000 0.669328
19000 0.669328
20000 0.669328

Hypothesis : [[0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.60869485]
 [0.6086949 ]
 [0.6086949 ]
 [0.6086949 ]
 [0.6086949 ]
 [0.6086949 ]
 [0.6086949 ]]
Correct (Y) : [[1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]]
Accuracy : 0.6086956

In [110]:
a= [[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9],[9,6],[6,9]]
print(len(a))

46

In [111]:
import tensorflow as tf
%tensorflow_version 1.x

x_data = a
y_data = winning_team

X = tf.placeholder(tf.float32, shape=[46, 2])
Y = tf.placeholder(tf.float32, shape=[46, 1])

W = tf.Variable(tf.random_normal([2, 1]), name='weight')
b = tf.Variable(tf.random_normal([1]), name='bias')

hypothesis = tf.sigmoid(tf.matmul(X, W) + b)

cost = -tf.reduce_mean(Y * tf.log(hypothesis) + (1 - Y) * tf.log(1 - hypothesis))
train = tf.train.GradientDescentOptimizer(learning_rate = 0.001).minimize(cost)

predicted = tf.cast(hypothesis > 0.5, dtype=tf.float32)
accuracy = tf.reduce_mean(tf.cast(tf.equal(predicted, Y), dtype=tf.float32))

with tf.Session() as sess:
  sess.run(tf.global_variables_initializer())

  for step in range(10001):
    cost_val, _ = sess.run([cost, train], feed_dict={X : x_data,Y : y_data})
    if step % 200 == 0:
      print(step, cost_val)
  
  h, c, a = sess.run([hypothesis, predicted, accuracy],
                     feed_dict={X : x_data, Y : y_data})
  print("\nHypothesis :", h, "\nCorrect (Y) :",c , "\nAccuracy :", a)

0 2.571056
200 1.3694668
400 1.2400347
600 1.1247734
800 1.0207853
1000 0.9314401
1200 0.8586968
1400 0.80245554
1600 0.76088613
1800 0.73125666
2000 0.710712
2200 0.696749
2400 0.68739164
2600 0.6811808
2800 0.6770851
3000 0.6743959
3200 0.67263526
3400 0.6714846
3600 0.67073363
3800 0.67024386
4000 0.66992456
4200 0.6697166
4400 0.66958106
4600 0.6694928
4800 0.6694353
5000 0.66939783
5200 0.6693735
5400 0.66935766
5600 0.6693472
5800 0.6693405
6000 0.66933614
6200 0.66933334
6400 0.66933143
6600 0.66933024
6800 0.66932946
7000 0.6693289
7200 0.66932863
7400 0.66932833
7600 0.6693282
7800 0.6693281
8000 0.66932803
8200 0.66932803
8400 0.66932803
8600 0.6693279
8800 0.66932803
9000 0.6693279
9200 0.669328
9400 0.6693279
9600 0.669328
9800 0.6693279
10000 0.669328

Hypothesis : [[0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.6086686 ]
 [0.60872275]
 [0.6086686 ]
 [0.6087227 ]
 [0.6086686 ]
 [0.6087227 ]
 [0.6086686 ]
 [0.6087227 ]]
Correct (Y) : [[1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]
 [1.]]
Accuracy : 0.6086956